# Step 1 - Create a new conda environment, using the following terminal command:
# conda create --name hicu python=3.10.12 

# Step 2 - Activate the newly created environment, using the following terminal command:
# conda activate hicu

gensim==4.3.2
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
scikit_learn==1.2.2
scipy==1.11.3
torch==2.1.0 # NOTE: If you have GPU on your machine, comment out this line before moving on to step 3
tqdm==4.66.1
transformers==4.35.2

# Step 3 - Install the packages above, using the following terminal command:
# pip install -r requirements.txt

# Step 4 - Revert "packaging" version to 23.2, using the following terminal command:
# pip install packaging==23.2

# NOTE: If you have GPU on your machine, continue to steps 4 & 5 below. Otherwise you're done!

# Step 4 - Install pytorch with CUDA GPU support, using the following terminal command:
# pip install torch==2.1.0+cu118

# Step 5 - Check if CUDA installation was successful, using the following terminal command:
# python utils/cuda_check.py
